form {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top:100px;
}

.input-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px;
}

.input-container input, textarea {
    background-color: var(--background-site);
}

.btn {
   all:unset;
   display: flex;
   border: 2px solid var(--dark);
   margin: 10px;
   padding: 10px;
   height:10px;
   align-items: center;
   justify-content: center;
   width: 100px; 
   border-radius: 5px;
   background-color: var(--middle);
}
.btn:hover {
  background-color: var(--light);
}
.btn:active {
  background-color: var(--middle-light);
}

.input-elem {
    margin: 10px;
    width:300px;
    border: 2px solid var(--dark);
    border-radius: 3px;
}

.subnitAndClear-btn-container {
    display: flex;
    justify-content: center;
}